/* ==== Aufbau ==== */

body {
	padding: 0;
}




/* ==== Navigation ==== */

a.nav-button, nav ul li span.with-sub {
	display: none;
}

nav ul {
	display: block;
	position: absolute;
	top: 0;
	left: 293px;
	right: 0;
	border: none;
	z-index: 10;
}

nav ul li {
	float: left;
	position: static;
}

nav ul li a {
	float: left;
	border: none;
	font-size: 18px;
	line-height: 23px;
	padding: 20px;
	background: #00aef0;
}

nav ul li.active a {
	background: #f1f1f1;

    color: #00aef0;
}

nav ul li:hover a, nav ul li a:active, nav ul li a:focus, nav ul li a:hover {
	background: #f1f1f1;
	color: #000;
}

nav ul ul, nav ul.toggled ul.toggled, nav #nav:target ul {
	display: none;
}

nav ul li:hover ul {
	display: block !important;
    position: absolute;
	top: 100%;
	left: -277px;
	right: 16px;
	padding: 10px;
	background: #f1f1f1;
}

nav ul ul li a {
	font-size: 16px;
	line-height: 16px;
	padding: 10px;
	width: 380px;
	color: #000;
	background: none !important;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

nav ul ul li.active a, 
nav ul ul li a:active, nav ul ul li a:focus, nav ul ul li a:hover {
	background: none !important; 
    color: #00aef0;
    border: 1px solid; 
    margin: -1px;
    text-align:justify;
  
  }



/* ==== Head ==== */

a.first-aid { 
	right: 0;
}

a.search-button {
	right: 35px;
}

form#search input[type="text"] {
	width: 800px;
}



/* ==== Auswahl ==== */

p.slogan {
	font-size: 1.5em;
	line-height: 1.4em;
}

ul.choice li {
	font-size: 1.9em;
	line-height: 1.2em;
}



/* ==== Footer ==== */

#footer ul.linklist li {
	width: 213px;
	margin-right: 16px;
}
