{% extends "index.html" %}



{% block content %}

<div class="tabbable">

  <ul class="nav nav-tabs">
    <li ><a href="/display/agents/">Agent - List</a></li>
    <li class="active"><a href="/display/agents/msgs" >Agents - Messages</a></li>
    <li><a href="/display/agents/log" >Agents - Log</a></li>
    <li><a href="#new_agent" data-toggle="tab">Create New</a></li>
    <li><a href="#agent_doc" data-toggle="tab">Help</a></li>

  </ul>

<div class="tab-content">
    <div class="tab-pane fade active in" id="agents">
    

    <div class="row">
        <div class="span12">
        <table border="1" cellpadding="6" width="100%">

        <tr class="uphead"><td colspan="6">New Messages ( {{unknown_msgs | count }} new) </td>
            {% if (unknown_msgs | count) > 0 %}
            <td><a href="/do/agent_ack/all_agents/" class="btn btn-danger">ALL!</a></td>
            {% endif %}    
        </tr>
        
            {% for msg, msg_data  in unknown_msgs.iteritems() | sort | reverse %}
                <tr align="left">
                    <td>{{msg_data["time"]}}</td>
                    <td><a href="/sid/{{msg_data['rule_id']}}/" title="{{msg}}">{{msg_data["rule_id"]}}</a></td>
                    <td><a href="/do/search/ip@{{msg_data['peer_ip']}}/" title="{{msg}}">{{msg_data["peer_ip"]}}</a></td>
                    <td>{{msg_data["url"]}}</td>
                    <td><a href="/do/search/host@{{msg_data['host']}}/" title="{{msg}}">{{msg_data["host"]}}</td>
                    <td><pre>{{msg_data['msg']}}</pre></td>
                    <td><a href="/do/message_ack/{{msg}}/" class="btn btn-danger">ACK!</a></td>
                </tr>

            {% endfor %}


        <tr class="uphead"><td colspan="6">Known Messages</td></tr>
        
            {% for msg, msg_data  in known_msgs.iteritems() | sort  | reverse %}
     
                <tr align="left">
                    <td>{{msg_data["time"]}}</td>
                    <td><a href="/sid/{{msg_data['rule_id']}}/" title="{{msg}}">{{msg_data["rule_id"]}}</a></td>
                    <td><a href="/do/search/ip@{{msg_data['peer_ip']}}/" title="{{msg}}">{{msg_data["peer_ip"]}}</a></td>
                    <td>{{msg_data["url"]}}</td>
                    <td><a href="/do/search/host@{{msg_data['host']}}/" title="{{msg}}">{{msg_data["host"]}}</td>
                    <td><pre>{{msg_data['msg']}}</pre></td>
                </tr>
            {% endfor %}
        </table>
        </div>

    </div><!-- ./row -->


    
    
    
    </div>
    
    
</div><!-- ./ tab-content -->

</div><!-- ./tabbable -->


{% endblock %}
