{% extends "index.html" %}

{% block content %}


  <h2>{{page_title}}</h2>
  <hr>

<div class="row-fluid">
<div class="span12">

<table cellpadding="10" border="1">
<tr  class="uphead"><td>Time</td><td>Title</td><td>Search</td><td>Event-Count</td><td>Export</td><td>RE_Search</td><td>RE_Play</td><td>Delete</td></tr>
{% for fp, fp_data  in fp_list.iteritems() | reverse %}


<tr>
    <td>{{fp_data["date"]}}</td>
    <td>{{fp_data["title"]}}</td>
    <td><pre>{{fp_data["search"]}}</pre></td>
    <td>{{fp_data["count"]}}</td>
    <td>
        <form action="/do/export/" method = "POST">
        <input type="hidden" name="area" value="{{page_area}}">
        <input type="hidden" name="id" value="{{fp_data['xid']}}">
        <input type="submit" value="Export" class="btn btn-info">
        </form>

    </td>

    <td>
        <form action="/do/search/" method = "POST">
        <input type="hidden" name="srch" value="{{fp_data['srch_raw']}}">
        <input type="hidden" name="trange" value="{{fp_data['srch_range']}}">
        <input type="submit" value="Re_Search (Now)" class="btn btn-info">
        </form>

    </td>

    <td>
        <form action="/do/re_play/" method = "POST">
        <input type="hidden" name="area"  value="{{page_area}}">
        <input type="hidden" name="id" value="{{fp_data['xid']}}">
        <input type="submit" value="Re_Play Result" class="btn btn-info">
        </form>

    </td>


    <td>
        <form action="/do/del_search/" method = "POST">
        <input type="hidden" name="area"  value="{{page_area}}">
        <input type="hidden" name="id" value="{{fp_data['xid']}}">
        <input type="submit" value="Delete" class="btn btn-danger">
        </form>

    </td>

</tr>

{% endfor %}


</table>

</div>
</div>


{% endblock %}
