<!DOCTYPE html>
<!-- this.version: 0.38 2013-08-22 -->
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{% if new_events %}[ {{new_events}} ] {% endif %} DX-CONSOLE </title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="lazy.dogtown">
    <meta name="robot" content="noindex, nofollow">
    {{reload_header | safe }}

    <!-- Le styles -->
    <link href="/static/css/bootstrap.css" rel="stylesheet">
    <link href="/static/css/dx-console.css" rel="stylesheet">
    <link href="/static/css/bootstrap-responsive.css" rel="stylesheet">
    <style type="text/css">
      body {
        padding-top: 60px;
        padding-bottom: 40px;
      }
      .sidebar-nav {
        padding: 9px 0;
      }

      @media (max-width: 980px) {
        /* Enable use of floated navbar text */
        .navbar-text.pull-right {
          float: none;
          padding-left: 5px;
          padding-right: 5px;
        }
      }

    ul.nav li.dropdown:hover > ul.dropdown-menu{
        display: block;    
    }
    
    div[class="tooltip-inner"] {
        max-width: 450px;
    }

    </style>

    <script src="/static/js/bootstrap.js"></script>
    <script src="/static/js/jquery.js"></script>
    <script src="/static/js/highcharts.js"></script>
    <script src="/static/js/highcharts-more.js"></script>
    <script src="/static/js/modules/exporting.js"></script>
    <script src="/static/js/bootstrap-tooltip.js"></script>
    <script src="/static/js/bootstrap-popover.js"></script>




    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="/static/js/html5shiv.js"></script>
    <![endif]-->

    <!-- Fav and touch icons -->
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/static/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/static/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/static/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="/static/ico/apple-touch-icon-57-precomposed.png">
    <link rel="shortcut icon" href="/static/ico/favicon.png">


  </head>

  <body>
{% block index_nav %}
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container-fluid">
          <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar">---</span>
          </button>
          <a class="brand" href="/">DX-Console  </a>

          <div class="nav-collapse collapse">
          
          <!--
            <p class="navbar-text pull-right">
              <a href="/logout/" class="navbar-link"> &nbsp; LogOut</a>
            </p>
            | 
            <p class="navbar-text pull-right">
              <a href="/froxy/login/" class="navbar-link">Login</a> | 
            </p>

            -->

            <ul class="nav pull-right">
              <li class="dropdown">
                <a href="properties.php?type=showall" class="dropdown-toggle" data-toggle="dropdown">
                  [  c: {{ total_events }} | r: {{ range_name }} | p: {{page_info}} ] 
                  
                </a>
                <ul class="dropdown-menu">
                  <li><a href="/latest/new/">New Events {% if new_events %}[ {{new_events}} new ] {% endif %} </a></li>
                  <li><a href="/latest/ack/">ACK New {% if new_events %}[ {{new_events}} new ] {% endif %} </a></li>
                  <li><a href="/latest/">Latest Events  </a></li>
                  <li><a href="/dashboard/">Dashboard</a></li>
                  <li><a href="/search/">Search </a></li>
                  <li><a href="/display/messages/">Messages </a></li>
                  <li>-- Event-Summary ---</li>
                  <li><a href="/do/search/latest_24h">24 hrs - Events</a></li>
                  <li><a href="/do/search/latest_7d">7  days - Events</a></li>
                  <li><a href="/do/search/latest_14d">14 days - Events</a></li>
                  <li><a href="/do/search/latest_30d">30 days - Events</a></li>

                  <li>-- Set TimeRanges ---</li>
                  <li><a href="?range=24h">24 hrs</a></li>
                  <li><a href="?range=7d">7  days</a></li>
                  <li><a href="?range=14d">14 days</a></li>
                  <li><a href="?range=30d">30 days</a></li>
                  <li><a href="?range=6m">6 Months</a></li>
                  <li>-- Set Misc ---</li>
                  <li><a href="/do/set/host">Select Hosts & Sensors</a></li>
                  <li><a href="/display/session/">Display User & Session-Infos</a></li>
                

                </ul>
              </li>
              {% if new_events %}
              <li><a href="#">|</a></li>
              <li>

                <a href="/latest/new/" title="new: {{new_events}}"><font color="lime"><strong>[ n: {{new_events}} ]</strong></font></a>
            
              </li>
              {% endif %}

              <li><a href="#">|</a></li>

              <li>
              {% if new_msg %}<a href="/display/messages/" title="new messages: {{new_msg}}"><font color="#FFB925"> [ m: {{new_uniq_msg}} / {{new_admin_msg }}]</font> </a>{% endif %}
              </li>
              
              <li class="dropdown">
              <a class="dropdown" data-toggle="dropdown" href="/sigd/"><img src="/static/design/icons/process.png"></a>
                <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                    <li><a href="/display/whitelist/">Generate Whitelist</a></li>
                    <li><a href="/display/agents/">Agents</a></li>
                    <li><a href="/display/saved_search/">Saved Searches</a></li>
                    <li><a href="/display/fps/">FalsePostivies-Store</a></li>
                    <li><a href="/display/messages/">Messages {% if new_msg %}[ m: {{new_uniq_msg}} / {{new_admin_msg }}] {% endif %}</a></li>
                    <li><a href="/display/session/">Session-Values</a></li>
                    {% if admin  %}
                    <li>-- Admin --------------</i>
                    <li><a href="/admin/">Settings & Administration</a></li>
                    <li><a href="/admin/users/">User-Admin</a></li>
                    <li><a href="/admin/ip-reputation/">IP-Reputation</a></li>
                    <li><a href="/admin/clean/">Clean Caches</a></li>
                    {% endif %}
                    <li>-- Help & Docs -------</i>
                    <li><a href="http://www.mare-system.de/dontpanic/" target="blank">Dont Panic First Aid Kit</a></li>
                    <li><a href="/doc/sig_list/">Overview of Known SIGs</a></li>
                    <li><a href="/doc/">Documentation</a></li>
                    <li><a href="/doc/#hints">Search-Hints</a></li>
                    <li><a href="/doc/todo/">Todo & Roadmap</a></li>
                    <li>&nbsp; &nbsp; &nbsp;----</li>
                    <li><a href="http://webchat.freenode.net/" target="_blank">#naxsi - IRC</a></li>
                    <li><a href="http://www.onlineconversion.com/unix_time.htm" target="_blank">Unixtime - Convert</a></li>

                    
                    </ul>
            </li>

            </ul>


            
            <ul class="nav">

            <!--
               <li class="dropdown">
               <a class="dropdown-toggle" data-toggle="dropdown" href="/dashboard/">Dashboard</a>
                <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                    <li><a href="/dashboard/#24">24hrs</a></li>
                    <li><a href="/dashboard/#7">7 days</a></li>
                    <li><a href="/dashboard/#30">30 days</a></li>
                    <li><a href="/search/">Search</a></li>
                    </ul>

                </li>

            -->
            
            
              <li><a href="/dashboard/">Dashboard</a></li>
              <li><a href="/latest/">Latest Events</a></li>



              <li><a href="/dashboard/">|</a></li>


               <li class="dropdown">
               <a class="dropdown" data-toggle="dropdown" href="#">Filter</a>
                <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                    <li><a href="/dashboard/">Dashboard</a></li>
                    <li><a href="/latest/new/">New Events {% if new_events %}[ {{new_events}} new ] {% endif %} </a></li>
                    <li><a href="/latest/">Latest Events / LiveLog </a></li>
                    <li><a href="/audit/">Audit your own IP</a></li>
                    <li><a href="/search/">Search</a></li>
                    <li><a href="/display/compare/">Compare</a></li>
                    <li>-- Event-Summary ---</li>
                    <li><a href="/do/search/latest_24h">24 hrs - Events</a></li>
                    <li><a href="/do/search/latest_7d">7  days - Events</a></li>
                    <li><a href="/do/search/latest_14d">14 days - Events</a></li>
                    <li><a href="/do/search/latest_30d">30 days - Events</a></li>

                    <li>-- Set TimeRanges ---</li>
                    <li><a href="?range=24h">24 hrs</a></li>
                    <li><a href="?range=7d">7  days</a></li>
                    <li><a href="?range=14d">14 days</a></li>
                    <li><a href="?range=30d">30 days</a></li>
                    <li><a href="?range=6m">6 Months</a></li>


                    </ul>

                </li>

              <li><a href="/display/shortcuts/">Shrt</a></li>

            
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>
    
    {% endblock %}

    <a name="top"></a>

    <div class="container-fluid">

    {% block info %}        
    <div align="right">
    <form action = /do/search/ method=POST>
        <table><tr>
        <td><input type="text" name="srch" value="{{search_term}}" placeholder="ip = * " class="srch-wide"></td>
        <td><input type="text" name="trange" value="{{range_name}}" size="10px" placeholder="{{range_name}}"  class="srch-small"></td>
        <td valign="top"><input type="submit" class="btn btn-primary" value="search"></td>
        <td valign="top"><a href="/search/"  class="btn btn-danger">reset</a></td>
        </tr></table>
    </form>
    </div>

    {% endblock %}
    
    
    {% with messages = get_flashed_messages() %}
      {% if messages %}
      
      
        <div class="row alert fade in" align="left">
        <div class="span7">
        {% for message in messages %}
          {{ message }} <br> 
        {% endfor %}
        </div>
        <a class="close" data-dismiss="alert" href="#" align="left">&times;</a>
        </div>
      {% endif %}
    {% endwith %}


    <div align="center">    
    {% block content %}

    

        {{ ix | safe }}
        
        hello
        
        
    {% endblock %}



      <hr>


    </div><!--/.center-->

    </div><!--/.fluid-container-->



    <!-- charts should be in an own container -->
    <a name="#charts"></a>
    {% block charts %}
    
    {% endblock %}


    {% block footer %}
    <div class="container-fluid">
      <div class="row"
      <footer>
        <p>dx-console + doxi-tools &copy; 2012,2013 lazy.dogtown@gmail.com - Version: {{version}}</p>
      </footer>
      </div>
    </div>
    {% endblock %}

    



    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="/static/js/jquery.js"></script>
    <script src="/static/js/bootstrap-transition.js"></script>
    <script src="/static/js/bootstrap-alert.js"></script>
    <script src="/static/js/bootstrap-modal.js"></script>
    <script src="/static/js/bootstrap-dropdown.js"></script>
    <script src="/static/js/bootstrap-scrollspy.js"></script>
    <script src="/static/js/bootstrap-tab.js"></script>
    <script src="/static/js/bootstrap-tooltip.js"></script>
    <script src="/static/js/bootstrap-popover.js"></script>
    <script src="/static/js/bootstrap-button.js"></script>
    <script src="/static/js/bootstrap-collapse.js"></script>
    <script src="/static/js/bootstrap-carousel.js"></script>
    <script src="/static/js/bootstrap-typeahead.js"></script>
    


  </body>
</html>
