{% extends "index.html" %}

{% block content %}


  <h2>IP-Reputation</h2>
  <hr>

<div class="row-fluid">
<div class="span12">
<form action="/do/ip-list/add">
<input type="text" name="ip" placeholder="IP/CIDR">
<input type="submit" value="Add New" class="btn btn-primary">
</form>

    <form action="/do/ipcheck/nao/">
    <input type="hidden" name="ip" value="{{ip}}">
    <input type="submit" value="check all ips/cidrs" class="btn btn-primary">
    </form>

<table cellpadding="10" border="1">
<tr  class="uphead"><td>Name</td><td>IP/CIDR</td><td>Deactivate</td><td>Delete</td><td>Check</td></tr>
{% for ip, ip_name  in ip_list.iteritems() %}


<tr>
    <td>{{ip_name}}</td>
    <td>{{ip}}</td>
    <td>
    <form action="/do/ip-list/deactivate/">
    <input type="hidden" name="ip" value="{{ip}}">
    <input type="submit" value="deactivate" class="btn btn-info">
    </form>
    </td>
    <td>
    <form action="/do/ip-list/delete/">
    <input type="hidden" name="ip" value="{{ip}}">
    <input type="submit" value="delete" class="btn btn-danger">
    </form>
    </td>
    <td>
    </td>

</tr>

{% endfor %}


</table>

</div>
</div>


{% endblock %}
