{% extends "index.html" %}

{% block content %}


  <h2>IP-Reputation - Check - Result</h2>
  <hr>

<div class="row-fluid">
<div class="span12">
<form action="/do/ip-list/add">
<input type="text" name="ip" placeholder="IP/CIDR">
<input type="submit" value="Add New" class="btn btn-primary">
</form>

    <form action="/do/ipcheck/nao/">
    <input type="hidden" name="ip" value="{{ip}}">
    <input type="submit" value="check all ips/cidrs" class="btn btn-primary">
    </form>

<table cellpadding="10" border="1">
<tr  class="uphead"><td>Name</td><td>IP/CIDR</td><td>Count 24</td><td>Count 7</td><td>Count 30</td></tr>
{% for ip, ip_name  in ip_found.iteritems()  %}


<tr>
    <td>{{ip_name[0]}}</td>
    <td><a href="/do/search/ip@{{ip}}/">{{ip}}</a></td>
    <td>{{ip_name[1]}}    </td>
    <td>{{ip_name[2]}}    </td>
    <td>{{ip_name[3]}}    </td>

</tr>

{% endfor %}


</table>

</div>
</div>


{% endblock %}
