{% extends "index.html" %}
<!-- this.version: 0.3.30 - 2013-08-19 -->


{% block content %}


<div class="tabbable">

<!--
<ul class="nav nav-tabs">
  <li class="active"><a href="#24hrs" data-toogle="tab">24hrs</a></li>
  <li><a href="#7days" data-toogle="tab">7days</a></li>
  <li><a href="#30days" data-toogle="tab">30days</a></li>
</ul>

-->
  <ul class="nav nav-tabs">
    <li class="active"><a href="#result" data-toggle="tab">Display Result</a></li>
    <li><a href="#charts" data-toggle="tab">Display Charts</a></li>
    {% if admin  %}
    <li><a href="#fps" data-toggle="tab">Mark FalsePositives/Delete</a></li>
    {% endif %}
    <li><a href="#save" data-toggle="tab">Save Search</a></li>
  </ul>

<div class="tab-content">
    <div class="tab-pane fade active in" id="result">
    
    <div class="row">
        <div class="span3">
        <table border="1" cellpadding="5" width="100%">
        <tr class="uphead"><td colspan="2"><h5>Uniq_IPs ( {{uniq_ips|length}} )</h5></td></tr>
            <tr align="left" class="uphead"><td>Count</td><td>Peer_IP</td></tr>
        
            {% for ip  in uniq_ips %}
     
                <tr align="left"><td>{{ip[1]}}</td><td>
                <table width="100%">
                <tr><td>
                <a href="/do/search/ip@{{ip[0]}}">{{ip[0]}} </a>
                </td>
                <td align="right" valign="middle">

                    
                    <a href="#" class="btn" id="pop-{{ip[0]|replace('.', '-')}}" data-original-title="IP-Info"  rel="popover2"
                    data-trigger="click" data-placement="right" data-html="true" data-content="
            <table border=1 cellspacing=10 cellpadding=10 >
                <tr><td valign=top>IP:</td><td>{{ip[0]}}</td>
                <tr><td>Add to Search</td><td>
                    <form action='/do/search/' method='POST'>
                    <input type='hidden' name='srch' value='{{search_term}} & ip = {{ip[0]}}'>
                    <input type='hidden' name='trange' value='{{range_name}}'>
                    <input type='image' class='btn' src='/static/design/icons/add.png'>
                    </form>
                
                </td></tr>
                <tr><td valign=top>Analysis:</td><td>
                    <a href='http://ip.robtex.com/{{ip[0]}}.html#blacklists' target='blank'>BlackList</a> <br>
                    <a href='http://ip.robtex.com/{{ip[0]}}.html#whois' target='blank'>Whois</a><br>
                    <a href='http://ip.robtex.com/{{ip[0]}}.html#analysis' target='blank'>Analysis</a><br>
                    <a href='http://ipaddress.is/{{ip[0]}}' target='blank'>ipadress.is</a><br>                     
                    <a href='http://www.mare-system.de//tools/sitescan/' target='blank'>MARE IP/SiteScan</a><br>
                    <a href='http://www.mxtoolbox.com/SuperTool.aspx' target='blank'>MXToolBox</a><br>
                    </td>

                </tr>
            </table>


             ">
                <img src="/static/design/icons/search_add.png">
            </a>
                <script>
                $('#pop-{{ip[0]|replace(".", "-")}}').popover()
                </script>
                </td></tr>
                </table>

                </td></tr> 
    
            {% endfor %}

            <tr class="uphead"><td colspan="2"><h5>Uniq_SIDs ( {{uniq_events|length}} )</h5></td></tr>
            <tr align="left" class="uphead"><td>Count</td><td>SID</td></tr>
        
            {% for sid  in uniq_events %}
     
            <tr align="left"><td>{{sid[1]}}</td><td>
            <table width="100%">
            <tr><td>
            <a href="/sid/{{sid[0]}}" 
                {% if sigs_dict[sid[0]|string] %} title="{{sigs_dict[sid[0]|string][0]}}"
                {% else %} title="{{sid[0]}}" 
                {% endif %}>
                {{sid[0]}} 
            </a>
            </td>
            <td align="right">
            <form action="/do/search/" method="POST">
            <input type="hidden" name="srch" value="{{search_term}} & id = {{sid[0]}}">
            <input type="hidden" name="trange" value="{{range_name}}">
            <input type="image" class="btn" src="/static/design/icons/add.png">
            </form>
            
            </td></tr>
            </table>
            </td></tr> 
    
            {% endfor %}

            <tr class="uphead"><td colspan="2"><h5>Uniq_HOSTs ( {{uniq_hosts|length}} )</h5></td></tr>
            <tr align="left" class="uphead"><td>Count</td><td>Host</td></tr>
        
            {% for host  in uniq_hosts %}
     
            <tr align="left"><td>{{host[1]}}</td><td>
            <table width="100%">
            <tr><td>                
            <a href="/do/search/host@{{host[0]}}">{{host[0]}} </a>
            <td align="right">
                    <form action="/do/search/" method="POST">
                    <input type="hidden" name="srch" value="{{search_term}} & host = {{host[0]}}">
                    <input type="hidden" name="trange" value="{{range_name}}">
                    <input type="image" class="btn" src="/static/design/icons/add.png">
                    </form>

            </td></tr></table>
            </td></tr> 
    
            {% endfor %}

        </table>
        </div>
    
        
        <div class="span10">
    
        <table border="1" cellpadding="5" >

        <tr class="uphead"><td colspan="7">

        <table width="100%">
            <tr class="uphead">
            <td align="left" width="25%">
                {% if page_prev %}
                <a href="/latest/{{page_prev}}">
                <img src="/static/icons/leftarrow32.png">
                </a>
                {% endif %}
            
            </td>
            <td align="center" width="50%"><h5>Event_List ( {{ data | count }} )</h5></td>
            <td align="right"  width="25%">
                {% if page_next %}
                <a href="/latest/{{page_next}}">
                <img src="/static/icons/arrowright32.png">
                </a>
                {% endif %}
            </td>
            </tr>
        
        
        </table>

        
        </td></tr>
    
            <tr align="left" class="uphead"><td>SIG</td><td>MSG</td><td>Peer_IP</td><td>URL</td><td>Host</td><td>Date</td><td style="min-width: 52px;" align="center">:I:</td></tr>
            {% for event  in data %}
            <tr align="left">
            <td valign="top"><a href="/sid/{{event[0]}}">{{event[0]}}</a>

            </td>
            
            <td valign="top">{{event[1]}}</td>
            
            <td valign="top"><a href="/do/search/ip@{{event[2]}}">{{event[2]}}</a>
            </td>
            
            <td valign="top"><a href="/do/search/url@{{event[3]}}">{{event[3][0:42]}}
            {% if event[3] | count > 42 %}...{% endif %}</a>
            </td>
            
            <td valign="top"><a href="/do/search/host@{{event[5]}}">{{event[5]}}</a>
            </td>
            
            
            <td valign="top">{{event[4]}}</td>
                
            <td width="30px">
            <!-- tooltip sid, s_msg, rip, url, date, mz, var_name, host, content, idx-->

            <table>
            <tr><td>
            <div class="tooltip-{{event[10]}}" align="left" >
            
            <a href="#" data-toggle="tooltip" data-html="true" data-placement="left" rel="tooltip-{{event[10]}}" title="
            
            <table class=hugo border=1 cellspacing=10 cellpadding=10 >
                <tr><td valign=top>MSG:</td><td>{{event[1]}}</td></tr>
                <tr><td valign=top>SID:</td><td>{{event[0]}}</td></tr>
                <tr><td valign=top>IP:</td><td>{{event[2]}}</td></tr>
                <tr><td valign=top>URL:</td><td>{{event[3]}}</td></tr>
                <tr><td valign=top>MZ:</td><td>{{event[6]}}</td></tr>
                <tr><td valign=top>VAR:</td><td>{{event[7]}}</td></tr>
                <tr><td valign=top>Content:</td><td>{{event[8]}}</td></tr>
                <tr><td valign=top>Host:</td><td>{{event[5]}}</td></tr>
                <tr><td valign=top>Sensor:</td><td>{{event[9]}}</td></tr>
                <tr><td valign=top>Date:</td><td>{{event[4]}}</td></tr>
            </table>
            
            ">
            
            <img src="/static/design/icons/bulb.png">
            </a>
            </div>
            </td>
            <td>
            <a href="#" id="pop-{{event[10]}}" data-title="Add Searches"  rel="popover"
             data-trigger="click" data-placement="left" data-html="true" data-content="

            <a class=close href=# align=right>&times;</a>

            <table border=1 cellspacing=10 cellpadding=10 >
                <tr><td valign=top>SID:</td><td>{{event[0]}}</td>
                    <td>
                    <form action='/do/search/' method='POST'>
                    <input type='hidden' name='srch' value='{{search_term}} & id = {{event[0]}}'>
                    <input type='hidden' name='trange' value='{{range_name}}'>
                    <input type='image' class='btn' src='/static/design/icons/add.png'>
                    </form>
                    </td>
                </tr>
                <tr><td valign=top>IP:</td><td>{{event[2]}}</td>
                    <td>
                    <form action='/do/search/' method='POST'>
                    <input type='hidden' name='srch' value='{{search_term}} & ip = {{event[2]}}'>
                    <input type='hidden' name='trange' value='{{range_name}}'>
                    <input type='image' class='btn' src='/static/design/icons/add.png'>
                    </form>
                    </td>
                </tr>
                <tr><td valign=top>URL:</td><td>{{event[3]}}</td>
                    <td>
                    <form action='/do/search/' method='POST'>
                    <input type='hidden' name='srch' value='{{search_term}} & url = {{event[3]}}'>
                    <input type='hidden' name='trange' value='{{range_name}}'>
                    <input type='image' class='btn' src='/static/design/icons/add.png'>
                    </form>
                    </td>
                </tr>
                <tr><td valign=top>MZ:</td><td>{{event[6]}}</td>
                    <td>
                    <form action='/do/search/' method='POST'>
                    <input type='hidden' name='srch' value='{{search_term}} & mz = {{event[6]}}'>
                    <input type='hidden' name='trange' value='{{range_name}}'>
                    <input type='image' class='btn' src='/static/design/icons/add.png'>
                    </form>
                    </td>
                </tr>
                <tr><td valign=top>VAR:</td><td>{{event[7]}}</td>
                    <td>
                    <form action='/do/search/' method='POST'>
                    <input type='hidden' name='srch' value='{{search_term}} & var = {{event[7]}}'>
                    <input type='hidden' name='trange' value='{{range_name}}'>
                    <input type='image' class='btn' src='/static/design/icons/add.png'>
                    </form>
                    </td>
                </tr>
                <tr><td valign=top>HOST:</td><td>{{event[5]}}</td>
                    <td>
                    <form action='/do/search/' method='POST'>
                    <input type='hidden' name='srch' value='{{search_term}} & host = {{event[5]}}'>
                    <input type='hidden' name='trange' value='{{range_name}}'>
                    <input type='image' class='btn' src='/static/design/icons/add.png'>
                    </form>
                    </td>
                </tr>
            </table>


             ">


                <img src="/static/design/icons/search_add.png">
            </a>

            </td></tr>            
            </table>

            <script>
            $('.tooltip-{{event[10]}}').tooltip({
            selector: "a[rel=tooltip-{{event[10]}}]"
            })
            $('#pop-{{event[10]}}').popover()

            </script>
            <!-- ./tooltip/popover -->

            <script>
            </script>
            
            <!-- ./popover -->
            

            
            </td>
                
                
                </tr> 
            {% endfor %}
        
    
        </table>
        </div>
        </p>
    </div><!-- ./row -->

    </div><!-- ./pane result -->
    <div class="tab-pane fade" id="charts">

        <h3>Charts</h3>
        
        {% if charts %}
        {% for chart, chart_data  in charts.iteritems() %}

    
        <div id="{{chart}}" style="min-width: 800px; height: 400px; margin: 0 auto"></div>
    ​
        <hr> 
        <footer class="footer">
           <p class="pull-left">multix</p>
           <p class="pull-right"><a href="#">Back to top</a></p>
        </footer>

    
        <script type="text/javascript"> 
    
    
        $(document).ready(function() {
            chart = new Highcharts.Chart({
            {{ chart_data | safe }}
    
            });
        });
    
        </script>
        {% endfor %}
        {% endif %}




    
    </div><!-- ./pane_charts -->
    {% if admin  %}
    <div class="tab-pane fade" id="fps">
    
        <h3>Mark FalsePositives/Delete </h3>


        please note: there's a limit of 10.000 results, so you can only delte the oldest 10.000
        entries from each search (order by timestamp DESC) 
        <br>
        you'll always execute a new search when hitting the delete/fp - buttons (atm)
        <hr>
        
        <div class="row"  align="left">
        <form action="/admin/delete_events/" method = "POST">
        <div class="span5">
        <input type="text" name="srch" value="{{search_term}}" readonly>
        <input type="text" name="trange" value="{{search_range}}" readonly class="srch-small" >
        <input type="hidden" name="delete" value="no">
        </div>
        <div class="span5"  align="left">
        <input type="submit" value="Mark results FalsePostive" class="btn btn-warning">
        <input type="text" name="fp_name" value="" placeholder="name for fp-selection" >
        
        </div>
        <br>
        
        </form>
        </div>

        <div class="row"  align="left">
        <ul align="left"><li>Marking FP will delete results from Events_DB, but keep a copy of deleted events for export/reimport or later usage</li></ul> 
        </div>
        
        <hr>
    
        <div class="row" align="left">
        <form action="/admin/delete_events/" method = "POST">
        <div class="span5">
        <input type="text" name="srch" value="{{search_term}}" readonly >
        <input type="text" name="trange" value="{{search_range}}" readonly class="srch-small">
        <input type="hidden" name="delete" value="yes">
        <input type="hidden" name="fp_name" value="">
        </div>
        <div class="span2" align="left">
        <input type="submit" value="Delete  results from Events" class="btn btn-danger">
        </div>

        
        </form>
        </div>

        <div class="row"  align="left">
        <ul><li>Deleting will delete results completely from Events_DB</li></ul>
        </div>



    </div><!-- ./pane_fps -->
    {% endif %}
    <div class="tab-pane fade" id="save">
    
        <h3>Save Search </h3>

        <form action="/do/save_search/" method = "POST">
        <div class="span10">
        <input type="text" name="srch" value="{{search_term}}" readonly >
        <input type="text" name="trange" value="{{search_range}}" readonly class="srch-small">
        <input type="text" name="name" value="" placeholder="Name for this Search" >
        </div>
        <div class="span2" align="left">
        <input type="submit" value="Save" class="btn btn-primary">
        </div>

    
    </div><!-- ./pane_save -->
    
    

</div><!-- ./tab-content -->

</div><!-- ./tabbable-->







{% endblock %}
