{% extends "index.html" %}
<!-- this.version: 0.3.28 - 2013-08-12 -->
{% block content %}

<div align="left"><h5>{{page_header}}</h5></div>
<div class="tabbable">

<!--
<ul class="nav nav-tabs">
  <li class="active"><a href="#24hrs" data-toogle="tab">24hrs</a></li>
  <li><a href="#7days" data-toogle="tab">7days</a></li>
  <li><a href="#30days" data-toogle="tab">30days</a></li>
</ul>

-->
  <ul class="nav nav-tabs">
    <li class="active"><a href="#result" data-toggle="tab">Display Result</a></li>
    <li><a href="#charts" data-toggle="tab">Display Charts</a></li>
    <li><a href="#whitelist" data-toggle="tab">Whitelist</a></li>
    <li><a href="#sid_info" data-toggle="tab">SID - Docs</a></li>
    <li><a href="/doc/sig_list/" >All Signatures</a></li>

  </ul>

<div class="tab-content">
    <div class="tab-pane fade active in" id="result">

    
    
    <div class="row">
        <div class="span3">

       <table border="1" cellpadding="5"  width="100%" >
 
        <tr><td colspan="3" class="uphead"><h5>Uniq_SIDs ( {{ uniq_events | count }} )</td></tr></h5>
            <tr align="left" class="uphead"><td>Count</td><td colspan="2">SID</td></tr>
        
            {% for sid  in uniq_events %}
     
                <tr align="left"><td>{{sid[1]}}</td><td>
                
                    
                    <a href="/doc/sig_list/#{{sid[0]}}"><img src="/static/design/icons/bloggings.png" width="15"></a>
                    <a href="/doc/sig_list/#{{sid[0]}}">{{sid[0]}} </a>

                </td>
                <td>
                    <form action="/do/search/" method="POST">
                    <input type="hidden" name="srch" value="id = {{sid[0]}}">
                    <input type="hidden" name="trange" value="{{range_name}}">
                    <input type="image" class="btn" src="/static/design/icons/add.png">
                    </form>
                </td>
                </tr> 
    
            {% endfor %}

        <tr><td colspan="3" class="uphead"><h5>Uniq_IPs ( {{ uniq_ips | count }} )</h5></td></tr>
            <tr align="left" class="uphead"><td>Count</td><td colspan="2">Peer_IP</td></tr>
        
            {% for ip  in uniq_ips %}
     
                <tr align="left"><td>{{ip[1]}}</td><td colspan="2"><a href="/do/search/ip@{{ip[0]}}">{{ip[0]}} </a></td></tr> 
    
            {% endfor %}
        </table>

        </div>

    


    <div class="span9">
    <table border="1" cellpadding="5"  width="100%">
    <tr class="uphead"><td colspan="7" ><h5>Event_List</h5></td></tr>
    <tr align="left" class="uphead"><td>IP</td><td>URL</td><td>MZ</td><td>VAR</td><td>Host</td><td>Date</td><td width="50px">[ e ] </td></tr>

    
        {% for event  in data %}

            <tr align="left"><td><a href="/do/search/ip@{{event[2]}}/">{{event[2]}}</a></td>
            <td>{{event[3]}}</td><td>{{event[5]}}</td><td>{{event[6]}}</td><td><a href="/do/search/host@{{event[7]}}/">{{event[7]}}</a></td><td>{{event[4]}}</td>
            
            <td width="55px">
            <!-- tooltip sid, s_msg, rip, url, date, mz, var_name, host, content, idx-->

            <div class="tooltip-{{event[9]}}" align="left" >
            
            <a href="#" data-toggle="tooltip" data-html="true" data-placement="left" rel="tooltip-{{event[9]}}" title="
            
            <table class=hugo border=1 cellspacing=10 cellpadding=10 width=100%>
                <tr><td valign=top>MSG:</td><td>{{event[1]}}</td></tr>
                <tr><td valign=top>SID:</td><td>{{event[0]}}</td></tr>
                <tr><td valign=top>IP:</td><td>{{event[2]}}</td></tr>
                <tr><td valign=top>URL:</td><td>{{event[3]}}</td></tr>
                <tr><td valign=top>MZ:</td><td>{{event[5]}}</td></tr>
                <tr><td valign=top>VAR:</td><td>{{event[6]}}</td></tr>
                <tr><td valign=top>Content:</td><td>{{event[8]}}</td></tr>
                <tr><td valign=top>HOST:</td><td>{{event[7]}}</td></tr>
                <tr><td valign=top>Date:</td><td>{{event[4]}}</td></tr>
            </table>
            
            ">
            
            <img src="/static/design/icons/bulb.png">
            </a>
            <img src="/static/design/icons/search.png">
            
            </div>
            <script>
            $('.tooltip-{{event[9]}}').tooltip({
            selector: "a[rel=tooltip-{{event[9]}}]"
            })
            </script>
            <!-- ./tooltip -->
            </td>
            
            
            </tr> 

        {% endfor %}
        
    </table>
    </p>
    </div>
    
    
    </div><!-- ./row -->

    </div><!-- ./pane result -->
    <div class="tab-pane fade" id="charts">
    <div class="row">

        <h3>Charts</h3>
        
        {% if charts %}
        {% for chart, chart_data  in charts.iteritems() | reverse %}

    
        <div id="{{chart}}" style="min-width: 800px; height: 400px; margin: 0 auto"></div>
    ​
        <hr> 
        <footer class="footer">
           <p class="pull-left">multix</p>
           <p class="pull-right"><a href="#">Back to top</a></p>
        </footer>

    
        <script type="text/javascript"> 
    
    
        $(document).ready(function() {
            chart = new Highcharts.Chart({
            {{ chart_data | safe }}
    
            });
        });
    
        </script>
        {% endfor %}
        {% endif %}


    </div><!-- ./charts_row -->
    </div><!-- ./sig_charts -->
    <div class="tab-pane fade" id="whitelist">
    <div class="row" >

    <h3>Whiteliste-Generator for id: {{sid}}</h3>

    <form action="/do/whitelist/" method = "POST">
    
    <table cellspacing="20" cellpadding="7">
    <tr>
        <td>SID</td>
        <td><input type="text" name="wsid" value ="{{sid}}"></td>
    </tr>
    <tr>
        <td>IP</td>
        <td><input type="text" name="wip" value ="" placeholder="*"></td>
    </tr>
    
    <tr>
        <td>HOST</td>

        <td>
        <select name="whost">
        {% for host in hostlist | sort %}
            <option value="{{host}}">{{host}}</option>
        
        {% endfor %}
        </select>
        </td>
    </tr>    

    <tr>
        <td>TimeRange</td>
        <td><input type="text" name="wrange" value="{{range_name}}"></td>
    </tr>


    <tr>
        <td></td>
        <td><input type="submit" class="btn btn-primary" value=" generate whitelist "></td>
    </tr>


    </table>
    
    </form>


    </div><!-- ./sid_whitelist_row -->
    </div><!-- ./pane.sid_whitelist -->


    


    <div class="tab-pane fade" id="sid_info">
    <div class="row" >
    

    
    <div align="left">
    <pre >
    # Matching-rule
    {{sid_info[1][4]}}
    
    # ruleset
    {{sid_info[1][5]}}
    
    </pre>
    </div>

    </div><!-- ./sid_info_row -->


    
    </div><!-- ./pane.sid_info -->


</div><!-- ./tab-content -->

</div><!-- ./tabbable-->








{% endblock %}
