{% extends "index.html" %}


{% block content %}

<div class="row">
<p>
<h2>User_Administration</h2>
<div class="span7"  align="left">
<a href="/admin/users/new/"><div class="btn btn-primary">Create new user</div></a>
<hr>
<table border="1" cellpadding = "10" cellspacing = "10">
    <tr class="uphead"><td>Name</td><td>Email</td><td>Admin</td><td>Hosts</td><td>Sensors</td><td>Edit</td><td>Del</td> </tr>
        {% for user, udata in users.iteritems() | sort %}
            <tr><td><a href="/admin/users/{{user}}/" title="edit">{{user}}</a></td><td>{{udata["email"]}}</td><td>{{udata["admin"]}}</td><td>{{udata["hosts"]}}</td><td> {{udata["sensors"]}}</td>
            <td><a href="/admin/users/{{user}}/" title="edit"><img title="edit" src="/static/design/icons/edit_item.png"></a></td>
            <td>
                
                <form action="/admin/users/del/" method="POST">
                <input type=hidden name="user_del" value="{{user}}">

                <input type="image" src="/static/design/icons/delete_item.png" width="25" title="delete">

            </td>
            
            </tr>
        {% endfor %}
</table>
</div> 
</p>
</div>

{% endblock %}
