{% extends "index.html" %}




{% block content %}


  <h2>{{page_header | safe}}</h2>
  <hr>

  <div class="row-fluid" align="left">


    <pre>
    {% for wl, wl_data in whitelists.iteritems() | sort %}
# {{wl}}
#
# {{wl_data[0]}} - {{wl_data[2]}}
BasicRule wl:{{wl_data[0]}} "mz:{{wl_data[1]}}";

    {% endfor %}
    </pre>

 </div>


{% endblock %}


