/* ==== Footer ==== */

#footer div.address {
	margin: 0 0 12px 0;
}

#footer a {
	color: #fff;
}

#footer a[href^="mailto:"] {
	padding: 0 21px 0 0;
	background: url(../design/mail.png) no-repeat center right;
}

#footer hr {
	border-color: rgba(255,255,255,0.7);
}

#footer h4 {
	font-size: 1.1em;
	line-height: 1.4em;
	font-weight: bold;
	margin: 0 0 2px 0;
	padding: 0 0 2px 0;
	border-bottom: 1px dotted rgba(255,255,255,0.5);
}

#footer ul {
	margin: 0 0 12px 0;
}

#footer ul li {
	background: none;
	padding: 1px 0;
	line-height: 1.4em;
}