/* ==== Navigation ==== */

nav ul {
	display: none;
	clear: both;
	position: relative;
	margin: 0;
	padding: 0;
	list-style: none;
	background: #00aef0;
	border-top: 1px solid #fff;
}

nav ul.toggled, nav #nav:target {
	display: block;
}

nav ul li {
	padding: 0;
	background: none;
	position: relative;
}


nav ul li a {
	outline: none;
	color: #fff;
	display: block;
	padding: 8px 8px 8px 32px;
	font-size: 16px;
	line-height: 20px;
	border-bottom: 1px solid #fff;
	background: url(/static/design/li3.png) no-repeat 16px 15px;
}

nav ul li span.with-sub {
	position: absolute;
	top: 1px;
	right: 0;
	width: 25px;
	height: 13px;
	border: 10px solid #00aef0;
	display: block;
	z-index: 1;
	cursor: pointer;
	background: url(/static/design/nav-arrows.png) no-repeat bottom left;
}

nav ul li span.with-sub.open {
	background-position: top left;
}

nav ul li.active a { 
	background: #40c2f4 url(/static/design/icons/check.png) no-repeat 14px 13px;
}

nav ul li span.with-sub { background-color: #40c2f4; border-color: #40c2f4; }

nav ul ul {
	border: none;
	display: none;
	background: #fff;
}

nav ul.toggled ul {
	display: none;
}

nav ul.toggled ul.toggled {
	display: block;
}

nav ul ul li a {
	font-size: 13px;
	line-height: 17px;
	padding: 6px 8px 6px 48px;	
	background: #66cef6 url(/static/design/li3.png) no-repeat 32px 11px !important;
}

nav ul ul li.active a {
	background: #99dff9 url(/static/design/icons/check.png) no-repeat 30px 9px !important;
}
